.progress {
  margin: 10px auto;
  width: 500px;
}

.navbar .logo {
  width: 40px;
  padding-right: 10px;
}

.products-pagination {
  margin-top: 0;
}

.page-product-edit form {
  width: 500px;
  margin-top: 40px;
}
